.index{
  height: auto;
  width: 100vw;
  overflow: scroll;
  background-color: whitesmoke;
  &__contents{
    width: 100vw;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    &--box{
      height: px;
      width: 500px;
      padding: 50px;
      border-top: 2px solid lightgrey;
      border-bottom: 2px solid lightgrey;
      a{
        text-decoration: none;
        color: white;
      }
    }
  }
}