.top{
  background-color: whitesmoke;
  height:100vh;
  width: 100vw;
  position: relative;
  &__title{
    height: auto;
    width: 100vw;
    a{
      text-decoration: none;
      color: black;
    }
    h4{
      eight: auto;
      width: auto;
      font-size: 50px;
      font-weight: 600;
      padding: 50px;
    }
    h5{
      height: auto;
      width: auto;
      font-size: 30px;
      font-weight: 600;
      padding: 50px;
    }
  }
  &__contents{
    height:30vh;
    width: 100vw;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    &--each{
      width: auto;
      height: 65%;
      border-left: 2px solid lightgrey;
      border-right: 2px solid lightgrey;
      padding-left: 100px;
      padding-right: 100px;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      margin: auto auto;
      vertical-align: middle;
      text-align: center;
      line-height: 180px;
      display: inline-block;
      width: 90%;
      a{
        text-decoration: none;
        color: black;
      }
    }
  }
  &__logout{
    font-size: 15px;
    font-weight: 600;
    position:absolute;
    bottom: 50px;
    right: 50px;
    a{
      text-decoration: none;
      color: black;
    }
  }
}