.post
  =form_with model:@post, class:"post__contents", local: true do |f|
    .fields
      =f.label :name, "作品名"
      =f.text_field :name
    .fields
      =f.label :detail, "詳細"
      =f.text_area :detail
    .fields
      =f.label :price, "値段"
      =f.number_field :price
    .fields
      =f.label :date, "日付"
      =f.date_field :date
    .fields
      =f.label :image, "画像"
      =f.file_field :image
    .fields
      =f.submit 'POST'